<main>
        <h2>home</h2>

    {{#each books}}
    <div>
        <h3>Titulo: {{thais.title}}</h3>
        <p>QUantidade de paginas: {{thais.pageqty}}</p>
    </div class= "buttons">
          <a href="/book/{{this.id}}" class="mais" >ver mais</a>
          <a href="/book/{{this.id}}" class="Editar" >Editar</a> 
          <a href= classe="excluir">Excluir</a>
           <form action="/delete/"{{thais.id}} method="POST">
           <input type="hidden" name="id" value="{{thais.id}}}">
           <button class="excluir">Excluir</button> 
            </form>

          </div>  
    </div>
{{/each}}
</main>